{$DEVAPI_URL} {
    reverse_proxy budgeteer:8080
    tls {$EMAIL}
}

{$GRAFANA_URL} {
    reverse_proxy grafana:3000
    tls {$EMAIL}
}

{$BOOKSTACK_URL} {
    reverse_proxy bookstack:80
    tls {$EMAIL}
}